*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.portada{
padding: 10px;
height: 38px;
background: #1CD1B0;
}

.titulo{
    display: flex;
    top: 0;
    width: 100%;
    height: 100px;
    color: white;
    padding: 30px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25); 
    gap: 20px;
}

#fa-plus-home{
    position: relative;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    width: 50px;
    bottom: 10px;
}

main {
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: #E5E5E5;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 600px;
    margin: 32px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding: 20px;
    }

.banner{
    display: inline-block;
    position: relative;
    height: 34.65%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    bottom: 32px;
}

.logo{
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        bottom: 120px;
        display: block;
        margin: 0 auto;
}

.texto h2{
    text-align: center;
    margin-top: -100px;
    margin-bottom: 5px;
}

.texto p{
    font-size: 14px;
    padding: 10px 15px;
    text-align: justify;
}

.texto .verMas{
    background-color: #00669F;
    border: 1px solid transparent;
    border-radius: 4px;
    position: absolute;
    color: white;
    bottom: 1em;
    left: 5.8em;
    padding: 10px 40px;
}

#fa-plus-circle{    
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    top: 50vh;
    right: 5px;
    background-color: transparent;
    cursor: pointer;
    filter: invert(21%) sepia(91%) saturate(2197%) hue-rotate(183deg) brightness(94%) contrast(101%);
}

#fa-plus-circle:hover{
    filter: invert(72%) sepia(60%) saturate(586%) hue-rotate(112deg) brightness(87%) contrast(89%);
}

i {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: -20px;
    z-index: 1;
}

footer{
    height: 51px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    padding: 15px;
    color: white;
    text-align: center;
}